<div class="card text-center">
  <div class="card-header" id="user">
    {{user}}
  </div>
  <div class="card-body" class="chat-container" style="margin-bottom: 20%;">
    <div id="mgs-area" class="chat-area">

    </div>
    <div class="input-msg-container">
      <input type="text" id="inputMsg" placeholder="Mensaje" required="true" />
      <button class="my-button" onclick="enviarMsg()">Enviar</button>
    </div>

  </div>
  <div class="card-footer text-muted">
    {{! 2 days ago }}
  </div>
</div>

<div class="chat-container">
  <div id="mgs-area" class="chat-area">


</div>