<footer class="text-center text-lg-start bg-light text-muted fixed-bottom">

  <div
    class="text-center p-4"
    style="background-color: rgba(0, 0, 0, 0.05); height: 12vh;"
  >

    © 2023 Hecho por:
    <a class="text-reset fw-bold" href="https://github.com/matibian/">Matias
      Bianchi</a>
  </div>
</footer>