<ul class="nav justify-content-center">
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      href="/admin/config"
    >Config</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/admin/chats">Chats</a>
  </li>
  <li class="nav-item">
    <a
      class="nav-link active"
      aria-current="page"
      href="/admin/productos"
    >Productos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/api/orders/all">Ordenes</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/auth/logout">Logout</a>
  </li>
</ul>