<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    {{!-- {{>navbar}} --}}
    <br>
    <div>
    {{>chatSingle}}
    </div>

    </div>
  </div>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../index.js"></script>

  </body>
   {{> footer}}
</html>
