<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    {{!-- {{>navbar}} --}}
    <br>
    <div>
             <div class="row justify-content-md-center">
              <div class="col-md-6">
                <div class="card mt-4 shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 0px !important">

    {{>chatSingle}}
    </div>
    </div>
    </div>
    </div>

    </div>
  </div>
</div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../../index.js"></script>

  </body>
   {{> footer}}
</html>
