<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
    {{>navbar}}
    {{!-- {{>navbar}} --}}
    <br>


{{>config}}


    </div>
  </div>
</div>

    <script src="../index.js"></script>

  </body>
   {{> footer}}
</html>
