<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
    <div class="container" style="padding: 10%">
    <div class="card">
    <h5 class="card-header">Error!!</h5>
  <div class="card-body">
    <h5 class="card-title">Status: {{{status}}}</h5>
    <p class="card-text">{{{error}}}</p>
  </div>
</div>
</div>
  </body>
   {{> footer}}
</html>
