<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
                <div class="row justify-content-md-center">
              <div class="col-md-12">
                <div class="card mt-4 shadow-lg p-1 mb-5 bg-white rounded" style="margin-top: 0px !important">
                  <div class="card-body" style="background: black;border-radius: 6px;text-align: center; color: white">
      <p style="font-size: 20, ;"> Curso Backend</p>
      <div style="display: flex; justify-content: center;">
      <img src="https://www.coderhouse.com/imgs/ch.svg" alt="coderhouse" style="width: 175px;">
      </div>
      <br>
      <p style="font-size: 23"> PROYECTO FINAL</p> 
</div>
 </div>
</div>

            <div class="row justify-content-md-center">
              <div class="col-md-6 col-lg-3">
                <div class="card mt-4 shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 0px !important">
  <form 
    {{!-- onsubmit="return false"  --}}
    action= "/auth/login"
    method="post"
    class="d-flex align-items-center flex-column">
    <div class="mb-3">
        <input
        type="text"
        id="email"
        placeholder="Email"
        name="email"
        />
    </div>
    <div class="mb-3">
        <input
        type="password"
        autocomplete="password"
        id="password"
        placeholder="Contraseña"
        name="password"
        />
    </div>
    <input type="hidden" name="login" value="admin" />
    <button 
        type="submit" 
        class="btn btn-secondary">Login</button>
    </form>
</div>
</div>
</div>

  <script src="../index.js"></script>
  </body>
  <br>
  <br>
     {{> footer}}
  
</html>
