<html lang='es'>
  <head>
    {{>head}}
  </head>
  <body>
            <div class="row justify-content-md-center">
              <div class="col-md-12">
                <div class="card mt-4 shadow-lg p-1 mb-5 bg-white rounded" style="margin-top: 0px !important">
                  <div class="card-body" style="background: black;border-radius: 6px;text-align: center; color: white">
      <p style="font-size: 20, ;"> Curso Backend</p>
      <div style="display: flex; justify-content: center;">
      <img src="https://www.coderhouse.com/imgs/ch.svg" alt="coderhouse" style="width: 175px;">
      </div>
      <br>
      <p style="font-size: 23"> PROYECTO FINAL</p> 
</div>
 </div>
</div>

            <div class="row justify-content-md-center">
              <div class="col-md-6">

      <h6> Por: <a href="https://github.com/matibian">Matías Bianchi</a></h6> 
      <br>
      <div style="text-align:center">
      <a class="btn btn-dark" href="/admin" role="button">Ir al login</a>
      </div>
</div>
 </div>
</div>


  </body>
   {{> footer}}
</html>
